azure=5.0.0
azureml-interpret==1.43.0
azure-storage-blob==12.13.0
azure-mgmt-synapse==2.0.0
azure-eventhub=5.10.0
azure-cosmos=4.3.0
azure-identity=1.10.0
azure-keyvault-secrets=4.4.0
gsql-client=0.1.6
pyTigerGraph=1.0.1
gremlinpython=3.6.0
futures=3.3.0
